@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/bootstrap/scss/utilities/_sizing.scss";

/*==========  Desktop First  ==========*/

//Extra large: ≥1200px
@include media-breakpoint-down(xl) {

  }
  

//Large: ≥992px
@include media-breakpoint-down(lg) {
  .header {
    height: 600px;

    &-menu {
      &__item {
        font-size: 10px;
        margin-left: 10px;
      }
    }
    &__logo {
      width: 120px;
    }
    &__phone {
      font-size: 14px;
    }
    .main-button {
      width: 100px;
      font-size: 10px;  
      margin: 0 5px;
    }
    &__contacts {
      font-size: 10px;
    }
    &__title {
      font-size: 32px;
    }
  }

  .about {

  }

  .main {



  .tablet-container {
    max-width: 100%;
    
  }
}
}




//Medium: ≥768px
@include media-breakpoint-down(md) {
  .header {
    height: 400px;
  }

  .main {
    &-button--width {
      width: 100%;
    }
    &-title {
      text-align: center;
      &::after {
        margin: 0 auto;
      }
    }
  }

  .main-content {
    text-align: center;
  }

  .interaction {
    height: 450px;
  }
  

}


//Small: ≥576px
@include media-breakpoint-down(sm) {

  .header {
    background-position-x: 85%;
    height: 500px;
    &__title {
      padding-top: 40px;
      font-size: 22px;
      text-align: center;
    }
    &__top {
      display: none;
    }
    &__lang {
      justify-content: flex-end;
    }
  }

  .burger {
    display: block;
  }
  
  .mobile {
    display: block;
  }

  .mobile-menu {
    .user-nav {
      &__logo {
        width: 124px;
      }
    }
  }

  .check-lang {
    font-size: 10px;
    &__dropdown {
      font-size: 10px;
      left: 50%;  
    }
    &__arrow {
      margin-left: 2px;
    }
  }

  .main {
    &-title {
      font-size: 22px;
      text-align: center;
      &::after {
        padding-top: 15px;
        margin: 0 auto;
      }
    }
    &-content {
      text-align: center;
      padding: 0 15px;
    }
  }

  .about {
    &__img {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  .interaction {
    height: 390px;
    &__wrapper {
      margin-top: 0;
    }
  }

  .request {
    input {
      margin-bottom: 15px;
    }

    &__form {
      input {
        width: 100% ;
      }
    }

    &__info {
      text-align: center;
    }
  }

  .footer {
    display: none;
  }
}

//Extra small: >0
@include media-breakpoint-down(xs) {
  .about {
    &__img {
      width: 100%; 
    }
  }

}

/*==========  Mobile First  ==========*/

//Extra small: <576px
@include media-breakpoint-up(xs) {

}

//Small: ≤576px
@include media-breakpoint-up(sm) {

}

//Medium: ≤768px
@include media-breakpoint-up(md) {

}

//Large: ≤992px
@include media-breakpoint-up(lg) {

}

//Extra large: ≤1200px
@include media-breakpoint-up(xl) {

}