@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/bootstrap/scss/utilities/_sizing.scss";

/*==========  Desktop First  ==========*/

//Extra large: ≥1200px
@include media-breakpoint-down(xl) {

}

//Large: ≥992px
@include media-breakpoint-down(lg) {

}

//Medium: ≥768px
@include media-breakpoint-down(md) {

}

//Small: ≥576px
@include media-breakpoint-down(sm) {

  .header {
    background-position-x: 80%;
    height: 500px;
    &__title {
      font-size: 22px;
      text-align: center;
    }
    &__top {
      display: none;
    }
  }

  .burger {
    display: block;
  }

  .mobile-menu {
    .user-nav {
      &__logo {
        width: 124px;
      }
    }
  }
  

  .main {
    &-title {
      font-size: 22px;
      text-align: center;
      &::after {
        padding-top: 15px;
        margin: 0 auto;
      }
    }
    &-content {
      text-align: center;
      padding: 0 15px;
    }
    &-button {
      width: 100%;
    }
  }

  .interaction {
    height: 390px;
    &__wrapper {
      display: none;
      &--mobile {
        display: block;
      }
    }
  }

  .request {
    input {
      margin-bottom: 15px;
    }
    &__form {
      input {
        width: 100% ;
      }
    }
    &__info {
      text-align: center;
    }
  }
  .footer {
    display: none;
  }


}

//Extra small: >0
@include media-breakpoint-down(xs) {

}

/*==========  Mobile First  ==========*/

//Extra small: <576px
@include media-breakpoint-up(xs) {

}

//Small: ≤576px
@include media-breakpoint-up(sm) {

}

//Medium: ≤768px
@include media-breakpoint-up(md) {

}

//Large: ≤992px
@include media-breakpoint-up(lg) {

}

//Extra large: ≤1200px
@include media-breakpoint-up(xl) {

}
