@import "vars";
@import "fonts";

::placeholder {
	color: #ccc;
	@include transition-animation;
}

html, body {
	height: 100%;
		// * {
		// 	outline: 1px solid red;
		// }
}


body {
	font-size: $def-fnz;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	color: $text-color;
	overflow-x: hidden;
	
}

input, textarea {
	border: 1px solid #ccc;
	padding: 10px;
	outline: none;
	@include transition-animation;
	&:focus:required:invalid {
		border-color: red;
	}
	&:required:valid {
		border-color: green;
	}
}

a {
	text-decoration: none;
	color: $text-color;
	&:hover {
		text-decoration: none;
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
	
.text-center {
	text-align: center;
}



.header {
	@include bgimage(Image1);
	height: 800px;
	max-width: 1920px;
	margin: 0 auto;
	&__top {
		display: flex;
		flex-wrap: nowrap;
		font-family: $opensans;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		width: 135px;
		height: 40px;
		img {
			@include img100;
		}
	}
	&-menu {
		display: flex;
	
		list-style: none;
		padding: 0;
		margin: 0;
		&__item {
		margin-left: 30px;
		a {
			color: #262626;
			&:hover {
				text-decoration: underline;
			}
		}
		}
	}
	&__contacts {
		text-align: right;
		a {
			display: block;
			color: #262626;
		}
	}
	&__phone {
		font-family: $montserrat;
		font-weight: bold;
		font-size: 20px;
	}
	&__title {
		font-family: $montserrat;
		line-height: normal;
		padding-top: 125px;
		font-weight: bold;
		font-size: 52px;
	}
}

.check-lang {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	&__wrapper {
		position: relative;
		width: 65px;
	}
	&__arrow {
		width: 10px;
		margin-left: 5px;

		&.active {
			transform: rotate(180deg);
		}
		img {
			@include img100;
			display: block;

		}
	}
	&__dropdown {
		display: none;
		position: absolute;
		left: 0;
    right: 0;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
		border-radius: 3px;

		background-color: #fff;
		&.show {
			display: block;
		}
			li {
				padding: 3px;
				cursor: pointer;
				span {
					&:hover {
						border-bottom: 1px solid #000;
					}
				}
				&.active {
					color: #C0C0C0;
				}
			}
	}
}

.about {
	&__wrapper {
		display: flex;
	}
	&__title {
		font-family: $montserrat;
		font-weight: bold;
		font-size: 40px;

	}
	&__img {
		margin-left: auto;
		max-height: 420px;
    height: 100%;
		&--tablet {
			width: 80%;
			margin: 30px auto;
		}
		img {
			@include img100;
		}
	}

}

.interaction {
	@include bgimage(Image3);
	height: 670px;
	&__wrapper {
		padding: 20px 30px;
		background-color: #fff;
		margin-top: 40px;
		&--mobile {
			display: none;
		}
	}
}

.request {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EAE8E8;
	min-height: 575px;
	&__form {
		display: flex;
		flex-wrap: wrap;
		
	}
	input {
		width: 100%;
		border-radius: 3px;
		margin-bottom: 30px;
		&:hover {
			border: 1px solid #000;
		}
	}
	&__info {
		font-size: 13px;
		padding-top: 30px;
		line-height: 21px;
		a {	
			color: #1DA1EC;
			text-decoration: underline;
		}
	}
}

.main-button {
	width: 163px;
	font-weight: 600;
	padding: 10px;
	background-color: #1DA1EC;
	border: none;
	
	&--width {
		width: 261px;
	}
	&:hover {
		background-color: #56C2FF;
	}

}

.main-title {
	font-family: $montserrat;
	font-weight: bold;
	font-size: 40px;
	&::after {
		content: url('../img/wave.svg');
		display: block;
		width: 97px;
		}
}

.main-content {
	font-family: $opensans;
	text-align: justify;
	opacity: 0.7;
}

.modal {
	&-header {
		border-bottom: 0;
	}
	&-title {
		font-family: $montserrat;
		font-weight: bold;
		text-align: center;
	}
	&-body {
		margin: 0 auto;
		input {
			font-family: $opensans;
			margin: 15px 0;
			border-radius: 3px;
			background-color: #EAE8E8;
			&::placeholder  {
				color: #676767;
			}
		}
	}
	&-footer {
		margin: 0 auto;
	}
	&-width {
			max-width: 1200px;	
	}
	&-text {
		font-family: $opensans;
		font-size: 12px;
		color: #676767;

		margin-bottom: 60px;
		a {	
			color: #1DA1EC;
			text-decoration: underline;
		}
	}
	.close span {
		font-size: 40px;
    font-weight: normal;
	}
}

.mobile-menu {
	width: 100%;
	transform-origin: top;
	transform: scaleY(0);
	position: absolute;
	left: 0;
	right: 0;
	background-color: #fff;
	
	z-index: 998;
	@include transition-animation;
	.user-nav {	
		display: flex;
    flex-direction: column;
    justify-content: center;
		
		margin: 0;
		padding: 0;

		list-style: none;
		@include img100;

		&__link {
			display: block;		
			padding: 20px;
			&--callorder {
				color: #1DA1EC;
				text-decoration: underline;
				border-top: 1px solid #E2E2E2;
			}
		}
	}
	&.show {
		transform-origin: top;
		transform: scaleY(1);
		z-index: 1000;
	}		
}

.mobile {
	display: none;

	&__contacts {
		justify-content: space-between;
		background-color: #fff;
		z-index: 1001;
	}
	&__phone {
		font-weight: bold;
		font-size: 14px;
	}

	&__mail {
		font-weight: normal;
		font-size: 10px;
		line-height: normal;
	}

	&__logo {
		width: 124px;
	}
	&__burger {
		height: 50px;
		position: relative;
		justify-content: space-between;
		align-items: center;
		background-color: #EAE8E8;
		&.active {
			background-color: #fff;
		}

		z-index: 1001;
	}
	&__lang {
		font-size: 10px;
	}


}
.burger {
	width: 40px;
	height: 40px;

	position: absolute;
	left: 5px;

	border-radius: 50%;


	z-index: 999;
	span, span::before, span::after {
		content: '';
		display: block;

		height: 2px;
		width: 18px;

		position: absolute;
		left: 50%;
		top: 50%;

		margin-left: -9px;
		margin-top: -1px;

		background-color: #1DA1EC;
	}
	span::before {
		margin-top: -6px;

		transition: all 0.2s;
	}
	span::after {
		margin-top: 4px;

		transition: all 0.2s;
	}
	&-active span{
		background-color: transparent;
		&::before {
			margin-top: 0;

			transform:rotate(135deg);		
		}
		&::after {
			margin-top: 0;

			transform:rotate(-135deg);			
		}
	}
}

.footer {
	max-width: 1920px;
	margin: 0 auto;
	&__nav {
		display: flex;
		flex-wrap: nowrap;
		font-family: $opensans;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		width: 135px;
		height: 40px;
		img {
			@include img100;
		}
	}
	&-menu {
		display: flex;
	
		list-style: none;
		padding: 0;
		margin: 0;
		&__item {
		margin-left: 30px;
		a {
			color: #262626;
			&:hover {
				text-decoration: underline;
			}
		}
		}
	}
	&__contacts {
		text-align: right;
		a {
			display: block;
			color: #262626;
		}
	}
	&__phone {
		font-family: $montserrat;
		font-weight: bold;
		font-size: 20px;
	}
	&__title {
		font-family: $montserrat;
		line-height: normal;
		padding-top: 125px;
		font-weight: bold;
		font-size: 52px;
	}
}

.container-fluid {
	&.px-0 {
		.row {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.btn-primary.focus, .btn-primary:focus {
	box-shadow: none !important; //bs4 box-shadow off
}

@import "media"; 