@import "vars";
@import "fonts";

::placeholder {
	color: #ccc;
	@include transition-animation;
}

html, body {
	height: 100%;
		// * {
		// 	outline: 1px solid red;
		// }
}

body {
	font-size: $def-fnz;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	color: $text-color;
	overflow-x: hidden;
	
}

input, textarea {
	border: 1px solid #ccc;
	padding: 10px;
	outline: none;
	@include transition-animation;
}

a {
	text-decoration: none;
	color: $text-color;
	&:hover {
		text-decoration: none;
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
	
.text-center {
	text-align: center;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.header {
	@include bgimage(Image1);
	min-height: 600px;
	margin: 0 auto;
	&__top {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;

		font-family: $opensans;
	}
	&__logo {
		width: 135px;
		height: 40px;
		img {
			@include img100;
		}
	}
	&-menu {
		display: flex;
		justify-content: space-between;

		padding: 0;
		margin: 0;

		list-style: none;
			&__item {
			margin-left: 20px;
			a {
				color: #262626;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	&__contacts {
		text-align: right;
		a {
			display: block;
			color: #262626;
		}
	}
	&__phone {
		font-family: $montserrat;
		font-weight: bold;
	}
	&__title {
		font-family: $montserrat;
		line-height: normal;
		// padding-top: 125px;
		font-weight: bold;
		font-size: 3.25rem;
	}
}

.about {
	padding: 85px 0;
	&__wrapper {
		display: flex;
	}
	&__title {
		font-family: $montserrat;
		font-weight: bold;
		font-size: 40px;

	}
	&__img {
		margin-left: auto;
		max-height: 420px;
    height: 100%;
		&--tablet {
			width: 80%;
			margin: 30px auto;
		}
		img {
			@include img100;
		}
	}
}

.interaction {
	@include bgimage(Image3);
	height: 670px;
	&__wrapper {
		padding: 20px 30px;
		background-color: #fff;
		margin-top: 40px;
	}
}

.request {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EAE8E8;
	min-height: 575px;
	&__form {
		display: flex;
		flex-wrap: wrap;
		
	}
	input {
		width: 100%;
		border-radius: 3px;
		margin-bottom: 30px;
		&:hover {
			border: 1px solid #000;
		}
		&:focus::placeholder {
			color: transparent;
		}
	}
	&__info {
		font-size: 13px;
		padding-top: 30px;
		line-height: 21px;
		a {	
			color: #1DA1EC;
			text-decoration: underline;
		}
	}
}

.circle {
	display: none;
  position:absolute;
	top: 15%;
	right: 95%;
  transform:translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: gray;
  border-radius: 50%;
  overflow: hidden; 
}

.wave {
  position:relative;
  width: 100%;
  height:100%;
  background: #29B6F6;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(0,0,0,.5)
}

.wave:before,
.wave:after  {
  content: '';
  position:absolute;
  width:200%;
  height:200%;
  left:-50%;  
}

.wave:before {
  border-radius:35%;
  background: #3b81a8;
  animation: flow 3s linear infinite;
  animation-delay:2s;
  bottom:50%;
}

.wave:after{
  
  border-radius: 40%;
  background: white;
  animation: flow 3s linear infinite;
  bottom:70%;
}

.bubble {
  position:absolute;
  width: 50px;
  height:50px;
  background:white;
  border-radius: 50%;
  animation: rise 5s infinite linear;
}

/*ANIMATIONS*/
@keyframes flow {
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: rotate(360deg)
  }
}

@keyframes rise {
  0% {
    transform:translate(0,0) 
  }
  
  20% {
    transform:translate(10px,-20px) 
  }
  
  40% {
    transform:translate(-10px,-40px) 
  }
  
  
  60% {
    transform:translate(-10px,-60px) 
  }
  80% {
    transform:translate(10px,-80px) 
  }
  100% {
    transform:translate(-10px,-100px);
    opacity: 0
  }
}

.main-button {
	width: 163px;
	font-weight: 600;
	padding: 10px;
	background-color: #3b81a8;
	border: none;
	
	&--width {
		width: 261px;
	}
	&:hover {
		@include button-bg(#3b81a8);
	}

}

.main-title {
	font-family: $montserrat;
	font-weight: bold;
	font-size: 2.5rem;	
	&::after {
		content: url('../img/wave.svg');
		display: block;
		width: 97px;
		}
}

.main-content {
	font-family: $opensans;
	text-align: justify;
	opacity: 0.7;
}

.modal {
	&-header {
		border-bottom: 0;
	}
	&-title {
		font-family: $montserrat;
		font-weight: bold;
		text-align: center;
	}
	&-body {
		margin: 0 auto;
		input {
			font-family: $opensans;
			margin: 15px 0;
			border-radius: 3px;
			background-color: #EAE8E8;
			&::placeholder  {
				color: #676767;
			}
		}
	}
	&-footer {
		margin: 0 auto;
	}
	&-width {
			max-width: 1200px;	
	}
	&-text {
		font-family: $opensans;
		font-size: 12px;
		color: #676767;

		margin-bottom: 60px;
		a {	
			color: #1DA1EC;
			text-decoration: underline;
		}
	}
	.close span {
		font-size: 40px;
    font-weight: normal;
	}
}

.mobile-menu {
	width: 100%;
	transform-origin: top;
	transform: scaleY(0);
	position: absolute;
	left: 0;
	right: 0;
	background-color: #fff;
	
	z-index: 998;
	@include transition-animation;
	.user-nav {	
		display: flex;
    flex-direction: column;
    justify-content: center;
		
		margin: 0;
		padding: 0;

		list-style: none;
		@include img100;

		&__link {
			display: block;		
			padding: 20px;
			&--callorder {
				color: #1DA1EC;
				text-decoration: underline;
				border-top: 1px solid #E2E2E2;
			}
		}
	}
	&.show {
		transform-origin: top;
		transform: scaleY(1);
		z-index: 1000;
	}		
}

.mobile {
	display: none;

	&__contacts {
		justify-content: space-between;
		background-color: #fff;
		z-index: 1001;
	}
	&__phone {
		font-weight: bold;
		font-size: 14px;
	}

	&__logo {
		width: 124px;
	}
	&__burger {
		height: 50px;
		position: relative;
		justify-content: space-between;
		align-items: center;
		background-color: #EAE8E8;
		&.active {
			background-color: #fff;
		}

		z-index: 1001;
	}
	&__lang {
		font-size: 10px;
	}
}

.burger {
	width: 40px;
	height: 40px;

	position: absolute;
	left: 5px;

	border-radius: 50%;


	z-index: 999;
	span, span::before, span::after {
		content: '';
		display: block;

		height: 3px;
		width: 24px;

		position: absolute;
		left: 50%;
		top: 50%;

		margin-left: -12px;

		background-color: #1DA1EC;
	}
	span::before {
		margin-top: -9px;

		transition: all 0.2s;
	}
	span::after {
		margin-top: 5px;

		transition: all 0.2s;
	}
	&-active span{
		background-color: transparent;
		&::before {
			margin-top: 0;

			transform:rotate(135deg);		
		}
		&::after {
			margin-top: 0;

			transform:rotate(-135deg);			
		}
	}
}

.footer {
	max-width: 1920px;
	margin: 0 auto;
	&__nav {
		display: flex;
		flex-wrap: nowrap;
		font-family: $opensans;
		justify-content: space-between;
		align-items: center;
	}
	&__logo {
		width: 135px;
		height: 40px;
		img {
			@include img100;
		}
	}
	&-menu {
		display: flex;
		justify-content: space-between;
		list-style: none;
		padding: 0;
		margin: 0;
		&__item {
		margin-left: 20px;
		a {
			color: #262626;
			&:hover {
				text-decoration: underline;
			}
		}
		}
	}
	&__contacts {
		text-align: right;
		a {
			display: block;
			color: #262626;
		}
	}
	&__phone {
		font-family: $montserrat;
		font-weight: bold;
		font-size: 20px;
	}
	&__title {
		font-family: $montserrat;
		line-height: normal;
		padding-top: 125px;
		font-weight: bold;
		font-size: 52px;
	}

}

.container-fluid {
	&.px-0 {
		.row {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

@import "media"; 